autostart/
chromium/
dconf/
fcitx/
fcitx5/
git/
ibus/
gtk-3.0/
hyprland-preview-share-picker/
yay/
microsoft-edge/
microsoft-edge-dev/
pulse/
user-dirs.dirs
wireplumber/
systemd/
KeePass/
unity3d/
.mono/
keepassxc/
QtProject.conf
FreeFileSync/
cliamp/
menus/
go/
